@model AttendanceViewModel
@if (DateTime.Now.TimeOfDay >= TimeSpan.Parse("08:30:00") && DateTime.Now.TimeOfDay <= TimeSpan.Parse("15:00:00"))
{
    <input type="text" asp-for="Note" class="form-control" />
    <br />
    <hr />
}
<button type="submit" class="btn btn-primary form-control">@Model.MethodCheckInOutType</button>