@model AttendanceViewModel
@* check if the employee not end of day checked out and if the employee has checked in today and if they have check for lunck brake and came back *@

@if (Model.CheckOutDayEnd == null
&& Model.AttendanceDay.ToShortDateString() == DateTime.Today.ToShortDateString()
|| Model.AttendanceDay == DateTime.MinValue)
{
    @if (DateTime.Now.TimeOfDay >= TimeSpan.Parse("07:00:00") && DateTime.Now.TimeOfDay <= TimeSpan.Parse("16:00:00"))
    {
        @if (Model.CheckOutLunchBrake == null
  || Model.CheckInLunchBrake != null)
        {
            <form asp-controller="Employee" asp-action="CheckInOut" method="post">
                <div class="card">
                    <h5 class="card-header">التحضير</h5>
                    <div class="card-body">
                        @{ await Html.RenderPartialAsync("_CheckInOut"); }
                    </div>
                </div>
            </form>
        }

        @if (Model.AttendanceDay != DateTime.MinValue && Model.CheckInLunchBrake == null)
        {
            @if (DateTime.Now.TimeOfDay >= TimeSpan.Parse("12:00:00"))
            {
                <div class="card">
                    <h5 class="card-header">فترة الغداء</h5>
                    <div class="card-body">
                        <form asp-controller="Employee" asp-action="LunchBrake" method="post">
                            <input type="hidden" asp-for="CheckOutLunchBrake" />
                            <button type="submit" class="btn btn-primary form-control">@Model.MethodLunchBrakeType</button>
                        </form>
                    </div>
                </div>
            }
        }
    }
}
else
{
    <p> لقد اتمت التحضير لهذا اليوم</p>
}
<div class="card">
    <h5 class="card-header">عدد ساعات العمل هذا الاسبوع</h5>
    <div class="card-body">
        <div id="dvHours"></div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#dvHours").load('@Url.Action("GetHours", "Employee")');
    });
</script>