@model LoginViewModel
<form asp-action="Login" asp-controller="Auth" method="post">
    <div class="card text-center">
        <div class="card-header">
            <h1>تسجيل الدخول</h1>
        </div>
        <div class="card-body">
            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-row">
                <div class="col">
                    <input type="text" asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
                <div class="col">
                    <input type="password" asp-for="Passowrd" class="form-control" />
                    <span asp-validation-for="Passowrd" class="text-danger"></span>
                </div>
            </div>
            <br />
            <br />
            <button type="submit" class="btn btn-primary">دخول</button>
        </div>
    </div>
</form>